includes:
parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - ./vendor
        - ./ecs.php
    paths:
        - ./src
        - ./tests
